<!DOCTYPE html>
<html lang="en">
    <header>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="Bao Lam">
    <meta name="description" content="This is a personal website where I present to the world my passions and goals.">
    <meta name="keyword" content="Bao, Lam, veteran, software, engineer, programmer">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>
        Bao Lam | Software Engineer | Veteran
    </title>
    </header>
    <body>

    </body>
</html>